@model Company

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body border-bottom p-4">
        <form method="post" class="row">
            <div class="p-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating py-1 col-12">
                    <input disabled="" asp-for="CompanyName" class="form-control border shadow"/>
                    <label asp-for="CompanyName" class="ms-2"></label>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Location" class="form-control border shadow"/>
                    <label asp-for="Location" class="ms-2"></label>
                    <span asp-validation-for="Location" class = "text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Industry" class="form-control border shadow"/>
                    <label asp-for="Industry" class="ms-2"></label>
                    <span asp-validation-for="Industry" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Size" class="form-control border shadow"/>
                    <label asp-for="Size" class="ms-2"></label>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>


                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Description" class="form-control border shadow"/>
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Website" class="form-control border shadow"/>
                    <label asp-for="Website" class="ms-2"></label>
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>

                <div class="form-floating py-1 col-12">
                    <input disabled asp-for="Logo" class="form-control border shadow"/>
                    <label asp-for="Logo" class="ms-2"></label>
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>


                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-secondary w-100">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>